html{
    text-align: :center;
    background-color: darkcyan;
}

body {
  background-color: lightblue;
  width:80%;
  margin:0 auto;
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
}
table{
    margin-top: 30px;
}
table,
th,
td {
  border: 1px solid grey;
}
h1{
    font-family: fantasy;
    font-size: 80px;
    color: darkcyan;
}